In [1]:
import numpy as np
import pandas as pd

from sklearn.datasets import make_classification

In [2]:
num_col, num_row = 100, 10000000

In [3]:
X, y = make_classification(
    n_samples=num_row,
    n_features=num_col,
    n_informative=1,
    n_redundant=0,
    n_clusters_per_class=1,
    random_state=720,
    weights=(0.9,0.1)
)

In [4]:
cols = list()
for i in range(1, num_col+1):
    cols.append(f'column{i}')

In [5]:
res_df = pd.DataFrame(data=X, columns=cols)
res_df['target'] = y

In [6]:
import random
from datetime import datetime, timedelta

In [7]:
def generate_random_offsets_in_month(year, month, num_offsets):
    # Calculate the number of days in the specified month
    days_in_month = (datetime(year, month % 12 + 1, 1) - timedelta(days=1)).day

    # Set the start and end datetime for the specified month
    start_datetime = datetime(year, month, 1, 0, 0, 0)
    end_datetime = datetime(year, month, days_in_month, 23, 59, 59)

    # Calculate the time difference in seconds
    time_diff_seconds = (end_datetime - start_datetime).total_seconds()

    # Generate num_offsets random offsets in seconds within the range
    random_offsets = [random.randint(0, int(time_diff_seconds)) for _ in range(num_offsets)]

    return random_offsets

def random_datetimes_in_month(year, month, num_datetimes):
    random_offsets = generate_random_offsets_in_month(year, month, num_datetimes)

    # Get the start datetime for the specified month
    start_datetime = datetime(year, month, 1, 0, 0, 0)

    # Generate random datetimes using the precomputed random offsets
    random_datetimes = [start_datetime + timedelta(seconds=offset) for offset in random_offsets]

    return random_datetimes

In [8]:
# Example usage for January (month=1) of the year 2023 with almost a million random datetimes
year = 2023
month = 1
num_datetimes = 1000000
random_datetimes = random_datetimes_in_month(year, month, num_datetimes)

In [9]:
res_df['date_time'] = random_datetimes

In [10]:
res_df.to_parquet('./test_datasets/aizen_de_test_1.parquet', index=False)

,column1,column2,column3,column4,column5,column6,column7,column8,column9,column10,...,column93,column94,column95,column96,column97,column98,column99,column100,target,date_time
0,-0.601360,1.120461,1.607950,0.576779,-0.623358,-0.038905,-0.774747,-1.282093,1.249962,-0.382626,...,-2.905059,0.812868,0.606686,0.518553,-1.144782,-0.416984,-1.524102,0.785891,0,2023-01-01 03:19:15
1,-3.127381,0.025776,0.439410,-0.986245,0.336252,-0.087603,-0.287874,0.427004,-1.826873,0.363362,...,-0.911269,1.769848,0.031174,0.763953,-0.016872,0.675986,0.452368,-0.782043,0,2023-01-20 00:46:21
2,-3.004288,-1.515773,-0.801739,1.244661,0.420277,-0.917933,0.613754,-1.640758,-0.166761,-0.072878,...,-0.671906,-1.506920,-0.971472,-1.852149,0.554924,-0.220795,-0.275412,-0.705357,0,2023-01-05 10:29:01
3,-1.173606,0.115467,-0.921005,1.341877,1.418107,-1.435803,-0.353153,1.033150,-1.498675,-2.725079,...,-0.277491,1.654783,1.899485,-1.012869,0.346255,-0.932717,0.651786,-0.376256,0,2023-01-08 02:21:35
4,0.650181,-0.451949,0.485305,-0.221149,-1.158610,1.519667,-0.680260,0.367185,0.862853,-0.168447,...,-1.037577,0.049564,0.338203,1.225697,-1.423606,-0.090155,-0.506786,-1.140418,0,2023-01-05 01:23:06